#a{
	
}

.headerinfo
{
	width: 500px;
	height: 150px;
	margin: 0 auto;
	padding-top: 20px;
	text-align: center;
	color: white;

}

.headerinfo h1
{
	float: left;
	width: 49%;


}

.headerinfo .infodivider
{
	width: 1px;
	height: 100%;
	background-color: #fff;
	float: left;
}

#nodta
{
	text-align: center;
	font-size: 20px;
}

#nodta a
{
	color: white;
	text-decoration: underline;
}

.headerinfo .headermeta
{
	width: 49%;
	float: left;
	text-align: center;

}

.headerinfo .headermeta h1
{
width: 100%;
font-size: 50px;
margin-bottom: 0px;
}

.headerinfo .headermeta p
{
width: 100%;
}

.userheader
{
	width: 100%;
	min-height: 200px;
	max-height: 200px;
	background-color: RGBA(78, 191, 155, 1);
}

.tableholder
{
	min-height: 300px;
	max-width: 922px !important;
	min-width: 922px !important;
	margin: 0 auto;
	margin-top: 20px;
}

tr
{

	min-height: 100px !important;
	max-height: 100px !important;
	height: 50px !important;
	padding: 0px !important;
}

.container
{
	overflow-y:scroll !important;
	height: auto !important;
}

.mainview
{
	overflow: scroll !important;
}