<link rel="stylesheet" href="styles/build/home.css">



<div class="ui stackable grid nopad">

  <div class="sixteen wide nopad column normblue">
    <div id="homepagebanner" class="normblue">

        <div id="biglogobox"></div>
        <div id="homepagebannertext">
          <p>
            Worldwide Whitespace Data.
          </p><br/>
          <h1>whitespace measurement tracking and visualisation</h1>
        </div>

        <div id="homepagebuttonholder">
          <div class="homepageheaderbutton">
          <p>
          Use the database
          </p>
          </div>

          <div class="homepageheaderbutton">
            <p>
              Contribute data
            </p>
          </div>
        </div>

    </div>
  </div>


  <div class="six wide column nopad paleblue">

    <div class="sideinfo">
      <h1>ONLINE SPECTRUM ANALYSIS.</h1>
      <h2>Measurespace allows you to <u>upload</u>, <u>visualise</u> and <u>track</u> your spectral data measurements</h2>
        <div class="bodybutton">
            <p>Sign Up</p>
        </div>
    </div>

  </div>

  <div class="ten wide column paleblue">
    <div class="webappimg"></div>
  </div>
    
  <div class="sixteen wide column paleblue">
    <div class="citybg">
      
      <div class="mapimg"></div>
      <div class="homerightbox">
          <div class="sideinfo">
            <h1>WORLDWIDE DATA, FREE.</h1>
            <h2>Browse and search for readings uploaded by other users, </h2>
            <div class="bodybutton">
            <p>Get Started</p>
          </div>
    </div>

      </div>
    </div>
  </div>



  <div class="three column row bluerow nopad">

    <div class="white column">

    </div>

    <div class="white column">

    </div>

    <div class="white column">

</div>

<!--
    <div class="white column">
        <img class="topphone homepageimagetop " src="/images/homepage/phone.png"/>
        <div class="infotext">
          <h1>Measure</h1>
          <p>Access the growing ecosystem of mobile measurment devices</p>
        </div>
    </div>
    <div class="white column">
      <img class="topdb homepageimagetop " src="/images/homepage/database.png"/>
      <div class="infotext">
        <h1>Upload</h1>
        <p>Contribute to the mapping of TV Whitespace on a local and global level</p>
      </div>
    </div>
    <div class="white column">
      <img class="toplaptop homepageimagetop " src="/images/homepage/maptop.png"/>
      <div class="infotext">
        <h1>Explore</h1>
        <p>Track your measurement history, explore your local spectrum or use the API</p>
      </div>
    </div>

-->
  </div>

  <div class="two column row whiterow">
      <div class="bigrow greenrow">
        <div class="lefttext"></div>
      </div>

<!--
    <div class="lightbluecol column">
      <div class="abouttext">
        <h1>What is Whitespace?</h1>
        <p>Whitespaces are the parts of the television broadcast spectrum
           that are unused and available at a given time and location</p>
         <div class="homepageheaderbutton">
           <p>
             Learn More
           </p>
         </div>
      </div>
    </div>

    <div class="darkbluecol column">
      <div class="abouttext">
        <h1>Explore Your Local Whitespace</h1>
        <p>Use the database and visualization tools to find free
          regions of your local television spectrum</p>
        <div class="homepageheaderbutton">
          <p>
            Start Exploring
          </p>
        </div>
      </div>
    </div>
-->

  </div>

  <div class="three column row bluecol">
    <div class="column">
<!--
    <img class="spectrum homepageimagetop " src="/images/homepage/spectrum.png"/>
    <div class="infotextabout">
      <h1>Explore</h1>
      <p>Track your measurement history, explore your local spectrum or use the API</p>
    </div>
 -->
    </div>
    <div class="column">
<!--
    <img class="dividend homepageimagetop " src="/images/homepage/digitaldivide.png"/>
    <div class="infotextabout">
      <h1>Explore</h1>
      <p>Track your measurement history, explore your local spectrum or use the API</p>
    </div>
-->
    </div>
    <div class="column">

<!--

    <img class="city homepageimagetop " src="/images/homepage/city.png"/>
    <div class="infotextabout">
      <h1>Explore</h1>
      <p>Track your measurement history, explore your local spectrum or use the API</p>
    </div>
-->

    </div>
  </div>

  <div class="sixteen wide column realdarkblue">
  <!--
  	<div class="timeline"></div>
  -->
  </div>

  <div class="sixteen wide white column">
  </div>


</div>
