<div id="pageloading">
    <div class="loadbox">
    <i class="huge white notched circle loading icon"></i>
    </div>
</div>
<div style="width:100%; height:100%; position:relative; z-index:120;" ng-controller="MapCtrl">
<div style="height:100vh; z-index:120;">
<map style="height:100% !important;" zoom="11"
  center="[51.5221374377, -0.114262444073]"
  disable-default-u-i="true"
  disable-double-click-zoom="true"
  draggable="true"
  draggable-cursor="pointer"
  dragging-cursor="grab"
  keyboard-shortcuts="false"
  max-zoom="18"
  min-zoom="12"
  tilt="45"
  styles="[
          {
            'featureType': 'poi',
            'elementType': 'labels.icon',
            'stylers': [
              { 'visibility': 'off' }
            ]
          }
          ]" 
  map-type-id="ROADMAP">
  <marker
  position="[51.5221374377, -0.114262444073]"
  draggable="true"
  visible="true"></marker>
  <heatmap-layer id="vizlayer" data="fulldataset"></heatmap>
</map>
</div>
<div id="mapsidebar">
  <mapsidebar utility="sidebarUtilities"  mapview="map"></mapsidebar>
</div>
    <div id="mapsidetoolbar">
        <div class="sidebar_button" ng-click="togglesidebar()">
            <i id="xicon" class="white tilted plus icon"></i>
        </div>
    </div>
<div id="mapbottombar">

    <div class="bottombar_button" ng-click="togglegraph()">
        <i class="bar chart white icon"></i>
    </div>
    
    <div class="bottombar_button" ng-click="backToSearch()">
        <i class="remove white icon"></i>
    </div>

    <div class="bottombar_button" ng-click="IncrementHeatmap()">
        <i class="long arrow right white icon"></i>
    </div>

    <div class="bottombar_button" ng-click="DecrementHeatmap()">
        <i class="long arrow left white icon"></i>
    </div>

</div>

<div id="channelsmapmover">


    <div class="bottombar_button" style="display:block !important;" ng-click="IncrementHeatmap()">
        <i class="long arrow right white icon"></i>
    </div>


    <div class="bottombar_button" style="display:block !important; width:200px; color:white;" ng-click="IncrementHeatmap()">
        <p style="position:relative; top:5px;">Normalised Heatmap Of Channel {{ChannelLookup[displaychannel]}}</p>
    </div>

    <div class="bottombar_button" style="display:block !important;" ng-click="DecrementHeatmap()">
        <i class="long arrow left white icon"></i>
    </div>

</div>

<div id="chartholder" ng-model="git">
    <highchart id="chart1" config="chartConfig"></highchart>
    <div class="graphnodata"><p class="vcenter">{{git}}</p></div>
</div>
    



</div>
