

<link rel="stylesheet" href="styles/build/userhome.css">

<div class="userheader">
	<div class="headerinfo">
		<h1>{{ForeName}} {{SurName}}</h1>
		<div class="infodivider"></div>
		<div class="headermeta">
		<h1 ng-model="userDatasets">{{userDatasets.length}}</h1>
		<p>Datasets</p>
		</div>
	</div>
</div>

<div class="tableholder">
	<table class="ui celled table segment" >
	  <thead>
	    <tr>
	      <th>Uploaded</th>
	      <th>Region</th>
	      <th>Start Date</th>
	      <th>End Date</th>
	      <th>Data Points</th>
	      <th>Channels</th>
	      <th>Low End</th>
	      <th>High End</th>
	      <th>View</th>
	    </tr>
	  </thead>
	  <tbody >

	    <tr ng-repeat="(key, dataset) in userDatasets" class="userdatasetrow">
	      <td>{{dataset.DateCreated * 1000 | amCalendar}}</td>
	      <td>{{dataset.Placename}}</td>
	      <td>{{dataset.StartTime * 1000 | amCalendar}}</td>
	      <td>{{dataset.EndTime * 1000 | amCalendar}}</td>
	      <td>{{dataset.DataPointCount}}</td>
	      <td>{{dataset.ChannelCount}}</td>
	      <td>{{dataset.LF}} MHz</td>
	      <td>{{dataset.HF}} MHz</td>
	      <td><a href="/#/map/{{dataset.DatasetID}}">→</a></td>
	    </tr>

	  </tbody>
	</table>
	<div id="nodta" class="ui teal inverted segment" ng-if="userDatasets.length == 0">
  		Seems you have not uploaded any data yet! <br/> check out the <a href="/#/api">API docs</a> and head over to the <a href="/#/upload">upload</a> page.
		</div>
</div>